{% extends "moviegame/base.html" %}
{% load i18n %}
{% block title %}Crear cuenta • Movidle{% endblock %}

{% block content %}
<section class="card red form-card">
  <h2>{% trans "Crear cuenta" %}</h2>

  <form method="post" action="{% url 'moviegame:register' %}">
    {% csrf_token %}

    <!-- Usuario -->
    <label for="id_username">{% trans "Usuario" %}</label>
    <input id="id_username" name="username" type="text" required autofocus
           placeholder="Tu usuario"
           value="{{ form.data.username|default_if_none:'' }}">
    {% for e in form.username.errors %}
      <div class="hint">{{ e }}</div>
    {% endfor %}

    <!-- Contraseña -->
    <label for="id_password1">{% trans "Contraseña" %}</label>
    <input id="id_password1" name="password1" type="password" required
           placeholder="••••••••" autocomplete="new-password">
    {% for e in form.password1.errors %}
      <div class="hint">{{ e }}</div>
    {% endfor %}

    <!-- Confirmación -->
    <label for="id_password2">{% trans "Confirmar Contraseña" %}</label>
    <input id="id_password2" name="password2" type="password" required
           placeholder="Repite tu contraseña" autocomplete="new-password">
    {% for e in form.password2.errors %}
      <div class="hint">{{ e }}</div>
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="hint">{{ form.non_field_errors|join:", " }}</div>
    {% endif %}

    <div class="actions">
      <button type="submit" class="btn">{% trans "Registrarme" %}</button>
    </div>
  </form>
</section>
{% endblock %}
